[user]
	name = Matthieu Fillon
	email = mfillon@gmail.com 
[i18n]
	filesEncoding = utf-8
[alias]
	s = status
	ci = commit
	co = checkout
	lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold white) - %cn%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	pop = stash pop
	abort-merge = merge --abort
	ignore-all-space-merge = merge -Xignore-all-space
	amend = commit --amend --no-edit
[merge]
	defaultToUpstream = true
	tool = meld
[core]
	editor = vi
	excludesfile = /home/ABC-OBJECTIF/matthieu.fillon/.gitignore_global
[color]
	diff = auto
	ui = true
[push]
	default = current
[fetch]
	prune = true
